@mixin fullscreen {
  width: 100%;
  aspect-ratio: 2;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@mixin formComponentSize {
  padding: 0.9em;
  border-radius: 15px;
  width: 400px;
  font-size: medium;
  text-align: center;
}

@mixin focusStyle {
  outline: none;
  box-shadow: white 0px 5px 20px;
}

@mixin backgroundImage($backgroundImage: url(/media/icons8-arrow-down-40.png)) {
  background-image: $backgroundImage;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin tableStyle {
  border: 1px solid $textColor;
  padding: 2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

$backdropColor: rgba(26, 25, 24, 0.952);
$transparentBackdrop: rgba(26, 25, 24, 0.747);
$textColor: white;

body {
  @include fullscreen;
  @include backgroundImage(
    $backgroundImage: url(/media/jakob-owens-CiUR8zISX60-unsplash.jpg)
  );
  background-color: $backdropColor;
  background-blend-mode: lighten;

  header {
    padding-top: 1em;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

    nav {
      width: fit-content;
      display: flex;
      flex-direction: row;
      border-radius: 30px;
      background-color: $transparentBackdrop;

      #hideButton {
        display: none;
        @include backgroundImage(
          $backgroundImage: url(/media/icons8-arrow-down-40.png)
        );
        width: 40px;

        margin-left: 4.8em;
        margin-right: 2em;
        cursor: pointer;

        &:hover {
        }
      }

      #searchBar {
        display: none;
        margin-left: 2em;
        width: 600px;
        height: 50px;
        border-radius: 20px;
        align-self: center;
        text-align: center;
        font-size: large;
        transition: 1.5s ease;

        &:focus {
          @include focusStyle;
        }
      }

      #searchIcon {
        padding: 2em;
        width: 100px;
        aspect-ratio: 1;

        @include backgroundImage(
          $backgroundImage: url(/media/icons8-search-100-white.png)
        );
        cursor: pointer;

        &:hover {
          @include backgroundImage(
            $backgroundImage: url(/media/icons8-search-100-green.png)
          );
        }
      }
    }
  }

  main {
    @include fullscreen;
    display: flex;
    justify-content: center;
    align-items: center;

    #searchResults {
      background-color: $backdropColor;
      padding: 5em;
      padding-top: 2em;
      margin-top: -20em;
      border-radius: 15px;
      height: fit-content;
      max-height: 450px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: $textColor;
      width: 500px;

      display: none;

      h2 {
        color: $textColor;
        padding-bottom: 2em;
      }

      table {
        border: 1px solid $textColor;

        th {
          @include tableStyle;
        }

        tr {
          border: 1px solid $textColor;
        }

        td {
          @include tableStyle;
        }
      }

      #removeData {
        @include formComponentSize;
        margin-top: 5em;
      }
    }
  }

  form {
    background-color: $backdropColor;
    padding: 5em;
    margin-top: -6em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    position: relative;

    h1 {
      color: $textColor;
    }

    input {
      @include formComponentSize;

      &:focus {
        @include focusStyle;
      }
      &::placeholder {
        font-size: larger;
      }
    }

    button {
      @include formComponentSize;
    }
  }
}

.expandSearchBar {
  animation: showSearchBar 1.5s forwards ease;
}

.hideSearchBar {
  animation: hideSearchBar 1.5s forwards ease;
}

.hideXButton {
  animation: hideXButton 1.5s forwards ease;
}

.showXButton {
  animation: showXButton 1.5s forwards ease;
}

.badSearchValue::placeholder {
  color: red;
  font-size: 1.5em;
}

.fadeIn {
  animation: fadeIn 0.3s forwards ease;
}

.fadeOut {
  animation: fadeOut 0.3s forwards ease;
}

@keyframes showSearchBar {
  from {
    width: 0px;
  }
  to {
    width: 600px;
  }
}

@keyframes hideSearchBar {
  from {
    width: 600px;
  }
  to {
    width: 0px;
  }
}

@keyframes showXButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotate(-90deg);
  }
}

@keyframes hideXButton {
  from {
    opacity: 1;
    transform: rotate(-90deg);
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  body {
    main {
      #searchResults {
        margin-top: -15em;
        padding: 2em;
        flex: 0.35;
        
      }
      form {
        padding: 2em;
        margin-top: -15em;
        gap: 2em;
      }
    }
  }
}
