body {
  width: 100%;
  aspect-ratio: 2;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url(/media/jakob-owens-CiUR8zISX60-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(26, 25, 24, 0.952);
  background-blend-mode: lighten;
}
body header {
  padding-top: 1em;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}
body header nav {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  background-color: rgba(26, 25, 24, 0.747);
}
body header nav #hideButton {
  display: none;
  background-image: url(/media/icons8-arrow-down-40.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  margin-left: 4.8em;
  margin-right: 2em;
  cursor: pointer;
}
body header nav #searchBar {
  display: none;
  margin-left: 2em;
  width: 600px;
  height: 50px;
  border-radius: 20px;
  align-self: center;
  text-align: center;
  font-size: large;
  transition: 1.5s ease;
}
body header nav #searchBar:focus {
  outline: none;
  box-shadow: white 0px 5px 20px;
}
body header nav #searchIcon {
  padding: 2em;
  width: 100px;
  aspect-ratio: 1;
  background-image: url(/media/icons8-search-100-white.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
body header nav #searchIcon:hover {
  background-image: url(/media/icons8-search-100-green.png);
  background-repeat: no-repeat;
  background-position: center;
}
body main {
  width: 100%;
  aspect-ratio: 2;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #searchResults {
  background-color: rgba(26, 25, 24, 0.952);
  padding: 5em;
  padding-top: 2em;
  margin-top: -20em;
  border-radius: 15px;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 450px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  width: 500px;
  display: none;
}
body main #searchResults h2 {
  color: white;
  padding-bottom: 2em;
}
body main #searchResults table {
  border: 1px solid white;
}
body main #searchResults table th {
  border: 1px solid white;
  padding: 2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
body main #searchResults table tr {
  border: 1px solid white;
}
body main #searchResults table td {
  border: 1px solid white;
  padding: 2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
body main #searchResults #removeData {
  padding: 0.9em;
  border-radius: 15px;
  width: 400px;
  font-size: medium;
  text-align: center;
  margin-top: 5em;
}
body form {
  background-color: rgba(26, 25, 24, 0.952);
  padding: 5em;
  margin-top: -6em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  position: relative;
}
body form h1 {
  color: white;
}
body form input {
  padding: 0.9em;
  border-radius: 15px;
  width: 400px;
  font-size: medium;
  text-align: center;
}
body form input:focus {
  outline: none;
  box-shadow: white 0px 5px 20px;
}
body form input::-moz-placeholder {
  font-size: larger;
}
body form input::placeholder {
  font-size: larger;
}
body form button {
  padding: 0.9em;
  border-radius: 15px;
  width: 400px;
  font-size: medium;
  text-align: center;
}

.expandSearchBar {
  animation: showSearchBar 1.5s forwards ease;
}

.hideSearchBar {
  animation: hideSearchBar 1.5s forwards ease;
}

.hideXButton {
  animation: hideXButton 1.5s forwards ease;
}

.showXButton {
  animation: showXButton 1.5s forwards ease;
}

.badSearchValue::-moz-placeholder {
  color: red;
  font-size: 1.5em;
}

.badSearchValue::placeholder {
  color: red;
  font-size: 1.5em;
}

.fadeIn {
  animation: fadeIn 0.3s forwards ease;
}

.fadeOut {
  animation: fadeOut 0.3s forwards ease;
}

@keyframes showSearchBar {
  from {
    width: 0px;
  }
  to {
    width: 600px;
  }
}
@keyframes hideSearchBar {
  from {
    width: 600px;
  }
  to {
    width: 0px;
  }
}
@keyframes showXButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotate(-90deg);
  }
}
@keyframes hideXButton {
  from {
    opacity: 1;
    transform: rotate(-90deg);
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  body main #searchResults {
    margin-top: -15em;
    padding: 2em;
    flex: 0.35;
  }
  body main form {
    padding: 2em;
    margin-top: -15em;
    gap: 2em;
  }
}/*# sourceMappingURL=style.css.map */